.aboutMe-conatiner
{
    background-color: black;
    color: white;
    padding: 2% 0;
}
.content
{
    display: flex;
    align-items: center;
}
.title
{
    width: 100%;
    padding: 2% 5%;
    font-size: 200%;
    font-weight: 600;
}
.profile-photo
{
    margin: 3% 5%;
    width: 25%;
    border-radius: 50%;
}
.text-container
{
    font-size: 130%;
    color: rgba(255, 255, 255, 0.719);
    text-align: justify;
    padding-right: 4%;
    padding-bottom: 4%;
}
.aboutMe-tag
{
    font-size: 228%;
    font-weight: 600;
    color: white;
    padding-bottom: 8%;
}
.skills-conatiner
{
    padding: 5% 0;
}
.image-scroll-container 
{
    padding-top: 3%;
    width: 100%; 
    overflow: hidden;
    position: relative;
    white-space: nowrap;
}

.image-scroll {
    display: inline-flex;
    animation: scroll 20s linear infinite;
}

.image-scroll img 
{
    width: 12%;
    height: auto;
    margin-right: 50px;
}

@keyframes scroll {
    0% {
        transform: translateX(0); 
    }
    100% {
        transform: translateX(-50%); 
    }
}